body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.App {
  max-width: 800px;
  margin: 35px auto;
}

.App footer {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
}

.App footer a {
  color: #fff;
}

@media (max-width: 400px) {
  .App footer {
    font-size: 14px;
    padding-bottom: 20px;
  }
}

@media (max-width: 1024px) {
  .App footer {
    font-size: 18px;
  }
}
