.Weather {
  font-family: "Poppins", sans-serif;
  background: #002b4b;
  border-radius: 16px;
  padding: 40px;
  color: #b8ffe9;
}

.Weather form {
  margin-top: 30px;
  padding-bottom: 20px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #00c2c2;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: 900;
  font-size: 38px;
  line-height: 48px;

  color: #b8ffe9;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 500;
  color: #b8ffe9;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.Weather li strong {
  color: #b8ffe9;
  font-weight: normal;
}

.Weather .temperature {
  font-weight: bold;
  color: #b8ffe9;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 64px;
}

.Weather-icon canvas {
  margin-right: -83px;
  margin-top: -40px;
  margin-bottom: 15px;
}

.Weather .icon {
  color: #b8ffe9;
  float: right;
}

.Weather .unit {
  color: #b8ffe9;
  font-size: 18px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  margin-left: 15px;
  margin-right: 10px;
  top: -45px;
}

a {
  text-decoration: none;
  color: #b8ffe9;
}

.float-right {
  float: right;
}

@media (min-width: 280px) and (max-width: 400px) {
  .Weather .search-input {
    font-size: 13px;
  }

  .Weather .btn {
    font-size: 12px;
  }

  .Weather h1 {
    font-size: 20px;
  }

  .Weather li {
    font-size: 14px;
  }

  .Weather .temperature {
    font-size: 40px;
    margin-top: -12px;
    margin-right: -10px;
    margin-right: -25px;
  }

  .Weather .unit {
    font-size: 12px;
    top: -20px;
    right: -15px;
  }
}
