.Weather {
  font-family: "Poppins", sans-serif;
  background: #002b4b;
  box-shadow: 0px 30px 50px rgb(158, 247, 233);
  border-radius: 16px;
  padding: 40px;
  color: #b8ffe9;
}

.Weather form {
  margin-top: 30px;
  padding-bottom: 20px;
}

.Weather .search-input {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}

.Weather .btn {
  background: #00c2c2;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}

.Weather .search-input::placeholder {
  line-height: 20px;
  color: rgba(39, 33, 66, 0.4);
}

.Weather h1 {
  margin: 20px 0 10px 0;
  line-height: 29px;
  font-weight: 900;
  font-size: 38px;
  line-height: 48px;

  color: #b8ffe9;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 500;
  color: #b8ffe9;
  line-height: 20px;
  list-style: none;
  margin-bottom: 5px;
}

.Weather li strong {
  color: #b8ffe9;
  font-weight: normal;
}

.Weather .temperature {
  font-weight: bold;
  color: #b8ffe9;
  margin-left: 5px;
  font-weight: 400;
  margin-left: 10px;
  font-weight: bold;
  font-size: 80px;
  line-height: 64px;
}

.Weather canvas {
  margin-right: 10px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}

.Weather .icon {
  color: #b8ffe9;
}

.Weather .unit {
  color: #b8ffe9;
  font-size: 16px;
  line-height: 36px;
  font-weight: normal;
  position: relative;
  line-height: 1;
  top: -34px;
}

a {
  text-decoration: none;
  color: #b8ffe9;
}
